<div class="height valign-wrapper white-text">
        <div class="container center-align">
          <!-- <h1 style="font-weight: 500;">Register for Alpha</h1>
          <h5 style="font-weight: 300;">Register for our alpha testing of the OneClient</h5>
          <a target="_blank" class="waves-effect waves-light btn" href="https://docs.google.com/forms/d/e/1FAIpQLSc5JZUcAbsx-jS4_21YmbaV7XFqKVwlcbZ_Ut-n2nO4abTmug/viewform">Register for Alpha</a> -->
          <h1 style="font-weight: 500;">Alpha Downloads</h1>
          <h5 style="font-weight: 300;">Prerequisites</h5>
          <h6 style="font-weight: 300;">Windows: Java 8</h5>
          <h6 style="font-weight: 300;">Linux: OpenJDK or Oracle Java 8 and OpenJFX</h5>
            <table class="table-grey bordered responsive-table">
                <thead>
                  <tr>
                      <th>Platform</th>
                      <th>Description</th>
                      <th>Download</th>
                      <th>Version</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Windows 64 Bit</td>
                    <td>If you are using windows, this is the version that you will most likey need.</td>
                    <td><a class="white-link" href="http://fdn.redstone.tech/theoneclient/oneclient/launcher/versions/OneClient-0.0.3.31-windows-amd64.exe">Download</a></td>
                    <td>0.0.3.31</td>
                  </tr>
                  <tr>
                    <td>Windows 32 Bit</td>
                    <td>If the 64bit version doesnt work, try this one.</td>
                    <td><a class="white-link" href="http://fdn.redstone.tech/theoneclient/oneclient/launcher/versions/OneClient-0.0.3.31-windows-386.exe">Download</a></td>
                    <td>0.0.3.31</td>
                  </tr>
                  <tr>
                    <td>Mac OS</td>
                    <td>If you are using Apple Mac OS, use this one.</td>
                    <td><a class="white-link" href="http://fdn.redstone.tech/theoneclient/oneclient/launcher/versions/OneClient-0.0.3.31-osx.zip">Download</a></td>
                    <td>0.0.3.31</td>
                  </tr>
                  <tr>
                    <td>Linux 64 Bit</td>
                    <td>For use on 64 bit linux (you may need to allow perssion to execute it)</td>
                    <td><a class="white-link" href="http://fdn.redstone.tech/theoneclient/oneclient/launcher/versions/OneClient-0.0.3.31-linux-amd64">Download</a></td>
                    <td>0.0.3.31</td>
                  </tr>
                  <tr>
                    <td>Linux 32 Bit</td>
                    <td>For use on 32 bit linux (you may need to allow perssion to execute it)</td>
                    <td><a class="white-link" href="http://fdn.redstone.tech/theoneclient/oneclient/launcher/versions/OneClient-0.0.3.31-linux-386">Download</a></td>
                    <td>0.0.3.31</td>
                  </tr>
                  <tr>
                    <td>Cross Platform (jar)</td>
                    <td>This will run on any system that java 8 supports. Recommended only if you know what you are doing.</td>
                    <td><a class="white-link" href="http://fdn.redstone.tech/theoneclient/oneclient/versions/OneClient-0.0.4.168.jar">Download</a></td>
                    <td>0.0.3.31</td>
                  </tr>
                  <tr>
                    <td>Portable (jar)</td>
                    <td>The portable jar keeps all files it uses in the same directory as the jar. This is great for running from a USB stick.</td>
                    <td><a class="white-link" href="http://fdn.redstone.tech/theoneclient/oneclient/versions/OneClient-0.0.4.168-portable.jar">Download</a></td>
                    <td>0.0.3.31</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>