c<div class="container">
    <div class="row">
        <div class="col s12 m7">
            <div class="card-panel blue">
        <span class="white-text">Our first project is the Hearth Launcher, a launcher and pack installer for modded Minecraft that has been designed from the ground up to provide the most commonly required features.
        </span>
            </div>
        </div>
        <div class="col s12 m5">
            <div class="card">
                <div class="card-image">
                    <img src="img/client_1.png"/>
                    <span class="card-title">Alpha Screenshot</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6">
            <div class="card blue darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Features</span>
                    <ul class="browser-default">
                        <li>Supports mod packs from curse</li>
                        <li>Cross platform, Windows, Mac and Linux!</li>
                        <li>Easy instance creation, with one click forge support.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card blue darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Planned Features</span>
                    <ul class="browser-default">
                        <li>Powerful instance manipulation tools.</li>
                        <li>Share modpacks privately with friends. Just add friends using their username, and they will
                            be added the mod pack. Updates will be pushed to all with access instantly. Great for small
                            servers!
                        </li>
                        <li>Public packs, create mod packs that can be downloaded by anyone with ease. Mods can come
                            from a range of sources including github and CurseForge.
                        </li>
                        <li>Automatic world backup to help stop your worlds from getting lost.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>