c<div class="container">
    <div class="row">
        <div class="col s12 m7">
            <div class="card-panel blue">
        <span class="white-text">Our first project is the Hearth Launcher, a launcher and pack installer for modded Minecraft that has been designed from the ground up to provide the most commonly required features.
        </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6">
            <div class="card blue">
                <div class="card-content white-text">
                    <span class="card-title">Features</span>
                    <ul class="browser-default">
                        <li>Supports mod packs from Curse</li>
                        <li>Cross platform for Windows and Linux!</li>
                        <li>Easy instance creation, with one click forge support.</li>
                        <li>Import Packs from many different sources</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card blue">
                <div class="card-content white-text">
                    <span class="card-title">Planned Features</span>
                    <ul class="browser-default">
                        <li>Powerful instance manipulation tools.</li>
                        <li>Private Modpack Hosting.
                        </li>
                        <li>Public packs, create mod packs that can be downloaded by anyone with ease.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>