<div class="height valign-wrapper white-text">
    <div class="container center-align">
      <!-- <h1 style="font-weight: 500;">Register for Alpha</h1>
      <h5 style="font-weight: 300;">Register for our alpha testing of the OneClient</h5>
      <a target="_blank" class="waves-effect waves-light btn" href="https://docs.google.com/forms/d/e/1FAIpQLSc5JZUcAbsx-jS4_21YmbaV7XFqKVwlcbZ_Ut-n2nO4abTmug/viewform">Register for Alpha</a> -->
      <h1 style="font-weight: 500;">Coming Soon!</h1>
      <h5 style="font-weight: 300;">Prerequisites</h5>
      <h6 style="font-weight: 300;">Windows: Java 8</h5>
      <h6 style="font-weight: 300;">Linux: OpenJDK or Oracle Java 8 and OpenJFX</h5>
    </div>
</div>